
  .cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #042A2B;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #042A2B;
    border-color: #042A2B;
    color: white;
  }
  
  .actions .button--alt {
    color: #042A2B;
  }
  
  .actions .button {
    background-color: #042A2B;
    color: white;
  }